simulators/fastfarm/bin/*
wfcrl/simulators/fastfarm/inputs/5MW_Baseline/*
wfcrl/simulators/fastfarm/inputs/FarmInputs/*
wfcrl/simulators/fastfarm/inputs/servo_dll/*
wfcrl/simulators/floris/inputs/case.yaml
src/__pycache__/*
src/cases/__pycache__/*
*.sum
*.ech
*.out
*.pyc
*ipynb_checkpoints
build/*
WFCRL.egg-info/*
kernel-wfcrl/*
__simul__/*
simulators/wfsimpy/.idea/*
simulators/wfsimpy/.vscode/*
simulators/wfsimpy/fastfarm_res/*
simulators/wfsimpy/old_demos/*
simulators/wfsimpy/wfsim_res/*